/* ---------------------- HTML + BODY + HEADER + FOOTER ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
    background-color: rgba(40, 0, 78, 0.726);
    font-family: 'Open Sans', sans-serif;
}

body {
    flex-grow: 1;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    width: 100%;
    background: linear-gradient(rgb(255, 46, 203, 0.6), rgba(40, 0, 78, 0.6));
    padding: 2rem 1rem 1rem;
    border-radius: 0.5rem;
    color: aliceblue;
}

footer p {
    text-align: center;
    margin-bottom: 0;
}

.btn-legal {
    color: aliceblue;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
}

#scroll_to_top {
    position: fixed;
    width: 3.1rem;
    height: 2.6rem;
    bottom: 3rem;
    right: 1.8rem;
    background-color: rgba(40, 0, 78, 0.726);
    border: 0.06rem solid aliceblue;
    border-radius: 0.5rem;
}

#scroll_to_top i {
    position: fixed;
    width: 3.1rem;
    height: 2.4rem;
    bottom: 2.7rem;
    right: 1.8rem;

}

#scroll_to_top #arrow_up::before {
    font-weight: bolder !important;
}

#scroll_to_top i:hover {
    color: rgb(255, 46, 203);
}

/*------------------------- NAVBAR -------------------------*/
.large-nav {
    display: none;
}

.nav-dropdown-burger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.dropdown-menu {
    background: rgba(40, 0, 78, 0.6);
    border: none;
}

.dropdown-item {
    color: aliceblue;
    font-weight: 500;
}

.navbar {
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

nav.navbar {
    background: linear-gradient(rgb(255, 46, 203, 0.6), rgba(40, 0, 78, 0.6));
    padding: 1.4rem 1rem 1.4rem;
    border-radius: 0.5rem;
}

.navbar .container-fluid {
    padding: 0.5rem;
}

#navbarNavDarkDropdown {
    flex-direction: row-reverse;
}

.dropdown-toggle::after {
    content: none;
}

a.navbar-brand {
    font-size: 1.7rem;
}

a.navbar-brand,
a.nav-link,
.bi-list,
.bi-list::before {
    color: aliceblue;
    font-weight: bolder !important;
}

a.nav-link {
    font-size: large;
}

a.navbar-brand:hover,
a.nav-link:hover,
.bi-list:hover,
.navbar-toggler {
    border-radius: 0.5rem;
}

.navbar-brand,
.navbar-nav {
    --bs-nav-link-hover-color: rgb(255, 46, 203);
    --bs-navbar-brand-hover-color: rgb(255, 46, 203);
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* ul.navbar-nav {
    align-items: flex-end;
} */



/*------------------------- TEXTS -------------------------*/
h1 {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

.container_formation h1,
.container_formation h2,
.container_competences h1,
.container_contact h1 {
    color: aliceblue;
}

h1::after {
    background: rgb(255, 46, 203);
    margin: 1rem auto;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 38%;
    height: 0.25rem;
}

p {
    text-align: justify;
}

ul {
    margin-bottom: 1rem;
}

li {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: rgba(40, 0, 78, 0.726);
}

.btn-link {
    text-decoration: none;
    color: aliceblue;
}

/*------------------------- MAIN -------------------------*/

#about {
    margin-top: 7rem;
    padding-top: 7rem;
}

#formation,
#experience,
#competences,
#realisations,
#contact {
    padding-top: 7rem;
}

.container_about,
.container_formation,
.container_experience,
.container_competences,
.container_realisations,
.container_contact,
footer {
    padding: 1rem;
    box-shadow: 0 0.06rem 1rem rgb(0 0 0 / 40%);
}

.container_about,
.container_experience,
.container_realisations {
    background-color: aliceblue;
}

.container_about_wrapper,
.container_formation_wrapper,
.container_experience_wrapper,
.container_realisations_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.container_about_left,
.container_about_right,
.container_formation_wrapper,
.container_experience_wrapper,
.container_competences_wrapper,
.container_realisations_wrapper,
.container_contact_wrapper {
    padding: 1rem;
    margin-top: 2rem;
}

.container_about_right_profil {
    max-width: 100%;
    box-shadow: 0.06rem 0.06rem 0.75rem 0.68rem rgb(0 0 0 / 27%);
    border-radius: 8rem;
}

.container_formation p:first-child {
    color: aliceblue;
}

.container_formation .btn {
    vertical-align: initial;
}

.container_formation .card-body,
.container_formation .card li,
.container_formation .card p {
    color: black;
    background-color: aliceblue;
}

.container_experience .btn-link {
    color: black;
}

.container_experience .card-body,
.container_experience .card {
    color: aliceblue;
    background-color: rgba(40, 0, 78, 0.726);
}

.container_experience .card a {
    color: aliceblue;
}

.container_about_wrapper,
.container_realisations_wrapper {
    flex-direction: row;
}

.container_realisations_wrapper .card-text {
    
    font-size: 0.9rem;
}


.container_competences_wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_competences img {
    width: 5rem;
    height: auto;
    margin: 1rem;
}

.container_competences_wrapper_img_content {
    color: rgba(240, 248, 255, 0.623);
    text-align: center;
}

.container_realisations_wrapper .card {
    width: 16rem;
    height: 19.4rem;
    margin: 1rem;
    background-color: rgba(40, 0, 78, 0.726);
    border: none;
    box-shadow: 0 0.06rem 1rem rgb(0 0 0 / 40%);
}

.card-img-container {
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.card-img-top {
    height: 15rem;
    width: auto;
}

.container_realisations_wrapper .card-text {
    opacity: 0;
    position: absolute;
    padding: 1rem;
    color: aliceblue;
    background-color: rgba(40, 0, 78, 0.726);
    box-shadow: 0 0.06rem 1rem rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.container_realisations_wrapper .card-text:hover {
    opacity: 1;
}

.container_realisations_wrapper .card-body {
    height: 2.4rem;
}

.container_realisations_wrapper .card-title {
    text-align: center;
    color: aliceblue;
}

.container_contact_wrapper {
    display: flex;
    justify-content: center;
}

.container_contact img {
    max-width: 3.5rem;
    margin: 1rem 1rem 0 1rem;
    position: relative;
    transition-duration: 0.8s;
    transition-property: transform;
}

.container_contact img:hover {
    transform: rotate(360deg);
}

.container_contact a {
    display: flex;
    justify-content: center;
}

.container_contact_wrapper_a_content {
    color: rgba(240, 248, 255, 0.623);
    text-align: center;
    margin-top: 1rem;
    width: 112px;
}

a:hover,
.btn-link:hover,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.container_experience .card a:hover {
    text-decoration: none;
    color: rgb(255, 46, 203);
}

.modal-content {
    background: linear-gradient(rgb(255, 46, 203, 0.6), rgba(40, 0, 78, 0.6));
}


/* ------------------------- IMG-PROFIL ------------------------- */
@media(min-width: 310px) {
    img.container_about_right_profil {
        max-width: 13rem;
        margin: 1rem;
    }
}

/* ------------------------- TABLET ------------------------- */
@media(min-width: 501px) and (max-width: 1489px) {

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        width: 80%;
    }

    .navbar {
        width: 80%;
    }

    .container_realisations img {
        max-width: 27rem;
    }

    /* .navbar-nav .dropdown-item {
        display: none;
    } */


}

/* ------------------------- DESKTOP ------------------------- */
@media(min-width: 1490px) {

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        width: 80%;
    }

    .navbar {
        width: 80%;
    }

    .container_about .wrapper {
        flex-direction: row;
    }

    .container_about,
    .container_formation,
    .container_experience,
    .container_realisations,
    .container_contact {
        padding: 3rem;
    }

    .container_realisations img {
        max-width: 27rem;
    }

    .container_contact img {
        max-width: 5rem;
    }
}

/* ------------------------- Navbar responsive ------------------------- */

@media(min-width: 1480px) {
    .nav-dropdown-burger {
        display: none;
    }

    .large-nav {
        display: initial;
    }

}